In [2]:
import pandas as pd

In [19]:
pd.options.display.float_format = '{:.5g}'.format

In [17]:
df1 = pd.read_csv('/Users/nishimura/home/lab/exmc/mean_std/df/data1.csv')

In [21]:
df1

    name    mean        std       F
0    mag 0.11666 9.0105e-05 -292.46
1    spc 0.11671 5.3365e-06 -703.63
2    int 0.11676 4.2991e-05 -1011.1
3  (sum)     NaN        NaN -996.09

In [28]:
print(df1.to_latex(
    index=False,
    formatters={"name": str.upper},
    float_format="{:.5g}".format,
    )
)

\begin{tabular}{lrrr}
\toprule
name & mean & std & F \\
\midrule
MAG & 0.11666 & 9.0105e-05 & -292.46 \\
SPC & 0.11671 & 5.3365e-06 & -703.63 \\
INT & 0.11676 & 4.2991e-05 & -1011.1 \\
(SUM) & NaN & NaN & -996.09 \\
\bottomrule
\end{tabular}

In [30]:
df2 = pd.read_csv('/Users/nishimura/home/lab/exmc/mean_std/df/data2.csv')
df3 = pd.read_csv('/Users/nishimura/home/lab/exmc/mean_std/df/data3.csv')

In [31]:
print(df2.to_latex(
    index=False,
    formatters={"name": str.upper},
    float_format="{:.5g}".format,
    )
)

\begin{tabular}{lrrr}
\toprule
name & mean & std & F \\
\midrule
MAG & 0.11657 & 0.00028155 & 98.531 \\
SPC & 0.11673 & 1.5778e-05 & -304.6 \\
INT & 0.11687 & 0.00014486 & -210.57 \\
(SUM) & NaN & NaN & -206.06 \\
\bottomrule
\end{tabular}

In [32]:
print(df3.to_latex(
    index=False,
    formatters={"name": str.upper},
    float_format="{:.5g}".format,
    )
)

\begin{tabular}{lrrr}
\toprule
name & mean & std & F \\
\midrule
MAG & 0.11622 & 0.00091182 & 500.94 \\
SPC & 0.11679 & 5.2442e-05 & 96.298 \\
INT & 0.11726 & 0.00045662 & 591.58 \\
(SUM) & NaN & NaN & 597.24 \\
\bottomrule
\end{tabular}